{% extends "base.html" %}

{% block content %}
<div class="row">
    <ul class="thumbnails">

        {% for index in range(size_album) %}

        {% if albums[index].count > 0 %}
        <li class="gallery span4">
            <a href="{{ url_for('gallery.lists',category_id=albums[index].id) }}" class="thumbnail">
                {% with path = '1/imut2.jpg' %}
                <img src="{{ url_for('gallery.send_image',category=albums[index].id,filename=albums[index].conver_url )}}" alt=""
                     class="span4"/>

                {% endwith %}
                <h3>{{ albums[index].name }}</h3>
            </a>
        </li>
        {% endif %}
        {% endfor %}


    </ul>
</div>

{% endblock %}