html, body
{
	color: #aaa;
	margin: 0;
	padding: 0;
	background: #0b0b0b url('bg.jpg') repeat-x top fixed;
}

.main {
    margin-top: 2em;
}

a {
    color: #999;
}

a:hover {
    color: #666;
    text-decoration: none;
}

img {
    z-index: 10;
}

#logo {
    position: absolute;
    top: 40px;
    right: 10px;
}

#logo img {
    z-index: 1;
}

.center {
    text-align: center;
}

.gallery {
    text-align: center;
}

.gallery h3 {
    margin-bottom: 0;
}

.photo {
    width: 30%;
    margin-bottom: 2em;
}

.thumbnail {
    background-color: white;
}

a.thumbnail:hover {
    border-color: #666;
    background-color: #999;
}

footer {
    margin: 4em 0 2em 0;
    color: #333;
}

